@import "./vars/vars";
@import "./vars/flexCenter";
@import "./vars/grid";
@import "./vars/btn";
@import "./vars/footer";
@import "./vars/ocean";
@import "./vars/wave";
@import "./vars/fonts";
@import "./vars/reset";

.contact__bg {
     // background: url(/img/bg.jpg);
     // background-position: center;
     // background-size: cover;
     // position: absolute;
     // top: 0;
     // left: 0;
     // width: 100vw;
     // height: 50vh;
     // clip-path: polygon(0 0, 100% 0, 100% 29%, 29% 54%, 0 35%);
     // border-radius: 0 50% 0 0 0;
}

#contact {
     position: relative;
     height: 90vh;
     display: flex;
     justify-content: center;
     .container {
          display: flex;
          justify-content: center;
          .contact__content {
               @include grid(2, 50px);
               padding: 50px 0;
               .contact__form {
                    form {
                         display: flex;
                         flex-direction: column;
                         .form__input {
                              width: 100%;
                         }
                         .form__label {
                              display: flex;
                              align-items: center;
                              color: #333;
                              border-radius: 10px;
                              .icon {
                                   margin-right: 5px;
                              }
                         }
                         .form__button {
                              width: 100%;
                         }
                         .text__field {
                              height: 150px;
                         }
                    }
               }
               .contact__info {
                    display: grid;
                    grid-template-rows: 1fr 3fr;

                    .info__content {
                         padding: 125px 20px 20px 20px;
                         border-radius: 30px;
                         background: #1d1f26;
                         -webkit-clip-path: polygon(
                              0 35%,
                              100% 0,
                              100% 100%,
                              0% 100%
                         );
                         clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
                         .main__p {
                              display: flex;
                              align-items: center;

                              padding: 10px;
                              ion-icon {
                                   font-size: 24px;
                                   padding: 5px;
                              }
                         }
                         .icon__box {
                              @include flexCenter(flex-starts, row);
                              border-top: 1px solid $lighGray;
                              padding: 10px 0;
                              a {
                                   @include flexCenter(flex-starts, row);
                                   .icon {
                                        background-color: white;
                                        padding: 5px;
                                        border-radius: 50%;
                                        color: #1d1f26;
                                        &:hover {
                                             transform: scale(1.2);
                                        }
                                   }
                              }
                         }
                         & > a,
                         p,
                         .icon {
                              color: white;
                              font-size: 16px;
                         }
                    }
               }
          }
     }
}
